html {
    
        background-image: url(images/giftly.png)
}

body {
    
        width:800px;
    
        padding:60px;
    
        margin-top: 60px;
    
        margin-left: auto;
    
        margin-right: auto;
    

    
        text-align:center;
    
        font-family: Times New Roman, sans-serif;

        
        border: 5px dotted #fff;
        
        background-color: #ffcc99;
}

a {
    
        font-size: 14pt;
    
        color: #686143;
    
        text-decoration: none;
    
}


a:hover {
    
        color: #fff;
}




h1 {
    
        font-size: 36pt;
    
        color: #000;
    
        border-top: 2px dotted ##ffcc99;
    
        border-bottom: 2px dotted ##ffcc99;
    
        text-transform: uppercase;
    
}


p {
    
        font-size: 12pt;
    
        line-height: 14pt;
    
}


img {
        
        border: medium solid #ffcc99;
    
        box-shadow: 4px 4px 4px rgba(0,0,0,3);
    
}